<div class="sidebar-heading" style="background-color:#9dc4e7;height: 65px;">
  <img style="max-height: 50px; max-width: 100px;" src="assets/images/logo.png">

 </div>


<div class="sidebar-heading" style="background-color:#1f4e78; height: 85px;">

  <div class="sidebar-heading" style="background-color:#1f4e78; height: 85px;">
    <div class="nav-item dropdown" style="position: relative; margin-top:15px; display: inline;">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">File</a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Stampa</a>
            <a href="#" class="dropdown-item">Exporta</a>
            <a href="#" class="dropdown-item">Invia</a>
            <a href="#" (click) = "uscire()" class="dropdown-item">Esci</a>
        </div>
    </div>

    <div class="nav-item dropdown" style="display: inline; margin-top:15px;">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Impostazioni</a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Utenze</a>
            <a href="#" class="dropdown-item">Contratti</a>
        </div>
    </div>
  </div>

 </div>
